In [118]:

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All"
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [119]:
df = pd.read_csv('hacktrain.csv' )
df.drop(columns=['Unnamed: 0'], inplace=True)
df.drop(columns=['ID'], inplace=True)

df #ignore the warnings

,class,20150720_N,20150602_N,20150517_N,20150501_N,20150415_N,20150330_N,20150314_N,20150226_N,20150210_N,...,20140610_N,20140525_N,20140509_N,20140423_N,20140407_N,20140322_N,20140218_N,20140202_N,20140117_N,20140101_N
0,water,637.5950,658.668,-1882.030,-1924.36,997.904,-1739.990,630.087,NaN,-1325.640,...,NaN,-1043.160,-1942.490,267.138,NaN,NaN,211.328,-2203.020,-1180.19,433.906
1,water,634.2400,593.705,-1625.790,-1672.32,914.198,-692.386,707.626,-1670.590,-1408.640,...,NaN,-933.934,-625.385,120.059,364.858,476.972,220.878,-2250.000,-1360.56,524.075
2,water,58.0174,-1599.160,NaN,-1052.63,NaN,-1564.630,NaN,729.790,-3162.140,...,-1025.880,368.622,NaN,-1227.800,304.621,NaN,369.214,-2202.120,NaN,-1343.550
3,water,72.5180,NaN,380.436,-1256.93,515.805,-1413.180,-802.942,683.254,-2829.400,...,-1813.950,155.624,NaN,-924.073,432.150,282.833,298.320,-2197.360,NaN,-826.727
4,water,1136.4400,NaN,NaN,1647.83,1935.800,NaN,2158.980,NaN,1242.870,...,1535.000,1959.430,-279.317,-384.915,-113.406,1020.720,1660.650,-116.801,-568.05,-1357.140
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7995,impervious,1207.7000,984.620,NaN,1166.25,937.478,1072.700,823.896,943.698,944.619,...,1117.740,1176.600,1044.110,NaN,369.082,465.843,362.882,979.795,NaN,433.659
7996,impervious,2170.3500,1419.720,1361.000,1478.71,983.911,1262.110,1422.860,1401.970,1372.680,...,984.634,2128.970,1379.660,NaN,762.633,485.204,446.724,771.747,1589.06,506.936
7997,impervious,1895.6800,1454.740,NaN,1033.56,1930.380,1057.150,1471.600,NaN,2693.630,...,888.408,2093.020,1232.110,1190.830,1441.460,1170.880,1095.000,1818.650,2501.72,1247.770
7998,impervious,3465.7400,1283.320,413.412,4391.05,1146.820,4473.050,1614.750,770.469,NaN,...,5833.760,4047.320,4515.800,433.177,277.296,744.143,NaN,3759.710,NaN,388.346
7999,impervious,6941.1900,1667.870,5084.780,NaN,1588.950,5978.190,NaN,3068.030,6471.470,...,7352.570,3289.860,3729.150,1994.980,NaN,5299.900,NaN,5983.130,1249.71,2424.230

In [120]:
df.shape

(8000, 28)

In [121]:
# List all NDVI time series columns
ndvi_cols = [col for col in df.columns if col.endswith('_N')]

# Fill NaNs in each NDVI column by group-wise (class-wise) median
for col in ndvi_cols:
    df[col] = df.groupby('class')[col].transform(lambda x: x.fillna(x.median()))

In [122]:
df

,class,20150720_N,20150602_N,20150517_N,20150501_N,20150415_N,20150330_N,20150314_N,20150226_N,20150210_N,...,20140610_N,20140525_N,20140509_N,20140423_N,20140407_N,20140322_N,20140218_N,20140202_N,20140117_N,20140101_N
0,water,637.5950,658.6680,-1882.030,-1924.36,997.904,-1739.990,630.0870,-457.866,-1325.640,...,1537.140,-1043.160,-1942.490,267.138,804.462,746.8375,211.328,-2203.020,-1180.190,433.906
1,water,634.2400,593.7050,-1625.790,-1672.32,914.198,-692.386,707.6260,-1670.590,-1408.640,...,1537.140,-933.934,-625.385,120.059,364.858,476.9720,220.878,-2250.000,-1360.560,524.075
2,water,58.0174,-1599.1600,-154.480,-1052.63,458.498,-1564.630,765.4095,729.790,-3162.140,...,-1025.880,368.622,820.250,-1227.800,304.621,746.8375,369.214,-2202.120,807.871,-1343.550
3,water,72.5180,716.3735,380.436,-1256.93,515.805,-1413.180,-802.9420,683.254,-2829.400,...,-1813.950,155.624,820.250,-924.073,432.150,282.8330,298.320,-2197.360,807.871,-826.727
4,water,1136.4400,716.3735,-154.480,1647.83,1935.800,509.868,2158.9800,-457.866,1242.870,...,1535.000,1959.430,-279.317,-384.915,-113.406,1020.7200,1660.650,-116.801,-568.050,-1357.140
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7995,impervious,1207.7000,984.6200,1106.380,1166.25,937.478,1072.700,823.8960,943.698,944.619,...,1117.740,1176.600,1044.110,1175.465,369.082,465.8430,362.882,979.795,1237.030,433.659
7996,impervious,2170.3500,1419.7200,1361.000,1478.71,983.911,1262.110,1422.8600,1401.970,1372.680,...,984.634,2128.970,1379.660,1175.465,762.633,485.2040,446.724,771.747,1589.060,506.936
7997,impervious,1895.6800,1454.7400,1106.380,1033.56,1930.380,1057.150,1471.6000,1294.010,2693.630,...,888.408,2093.020,1232.110,1190.830,1441.460,1170.8800,1095.000,1818.650,2501.720,1247.770
7998,impervious,3465.7400,1283.3200,413.412,4391.05,1146.820,4473.050,1614.7500,770.469,1670.800,...,5833.760,4047.320,4515.800,433.177,277.296,744.1430,480.099,3759.710,1237.030,388.346
7999,impervious,6941.1900,1667.8700,5084.780,1690.15,1588.950,5978.190,1487.0500,3068.030,6471.470,...,7352.570,3289.860,3729.150,1994.980,1001.520,5299.9000,480.099,5983.130,1249.710,2424.230

In [123]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import classification_report

# Drop ID column
# df.drop(columns=['ID'], inplace=True)

# Encode class column (if it's categorical)
label_encoder = LabelEncoder()
df['class'] = label_encoder.fit_transform(df['class'])

# Split into features and target
X = df.drop(columns=['class'])
y = df['class']

# Train-test split
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42, stratify=y)

# Fit multinomial logistic regression
model = LogisticRegression(
    multi_class='multinomial',
    solver='lbfgs',
    max_iter=1000,
    class_weight='balanced',
    random_state=42
)
model.fit(X_train, y_train)

# Predict on test set
y_pred = model.predict(X_test)

# Classification report with all original class labels
print(classification_report(
    y_test,
    y_pred,
    labels=list(range(len(label_encoder.classes_))),
    target_names=label_encoder.classes_
))

              precision    recall  f1-score   support

        farm       0.50      0.67      0.57       168
      forest       0.97      0.75      0.84      1232
       grass       0.20      0.69      0.31        39
  impervious       0.74      0.84      0.79       134
     orchard       0.05      0.67      0.10         6
       water       0.25      0.76      0.37        21

    accuracy                           0.74      1600
   macro avg       0.45      0.73      0.50      1600
weighted avg       0.87      0.74      0.79      1600

In [124]:
test_data = pd.read_csv('hacktest.csv' )
test_data.drop(columns=['Unnamed: 0'], inplace=True)
test_data.drop(columns=['ID'], inplace=True)
test_data.shape

(2845, 27)

In [125]:
y_test = model.predict(test_data)

In [126]:
y_test

array([4, 4, 4, ..., 5, 5, 3])

In [127]:
y_decoded = label_encoder.inverse_transform(y_test)
y_decoded

array(['orchard', 'orchard', 'orchard', ..., 'water', 'water',
       'impervious'], dtype=object)

In [128]:
result = pd.DataFrame({
    'ID': ID,
    'class': y_decoded
})

In [129]:
result

        ID       class
0        1     orchard
1        2     orchard
2        3     orchard
3        4        farm
4        5     orchard
...    ...         ...
2840  2841       water
2841  2842     orchard
2842  2843       water
2843  2844       water
2844  2845  impervious

[2845 rows x 2 columns]

In [130]:
result.to_csv("submission.csv", index=False) #this file will appear under the output section of the right navbar. You need to submit this csv file

'C:\\Users\\Anirudha\\jp1_ani'